.App {
    text-align: center;
    height: 100vh;
    width: 100vw;
}

/*
This style is applied to all elements. It should make sizing things easier.
read: https://www.w3schools.com/css/css3_box-sizing.asp
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root, #app, #app>div {
    overflow: hidden;
    height: 100% !important
}
  


