.radialGradient1 {
    background:
        radial-gradient(ellipse at center,
        rgb(254, 248, 2) 0%,
        rgb(208, 70, 47) 50%,
        rgb(19, 11, 7) 90%
        );
}

.radialGradient2 {
    background:
        radial-gradient(ellipse at center,
        rgb(147, 181, 179) 0%,
        rgb(89, 112, 117) 100%)
}

.radialGradient3 {
    background:
        radial-gradient(ellipse at center,
        rgb(255, 193, 116) 0%,
        rgb(255, 156, 0) 100%)
}

.radialGradient4 {
    background:
        radial-gradient(ellipse at center,
        rgb(254, 255, 179) 0%,
        rgb(255, 220, 0) 100%)
}